<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="row">
      <div class="col-3">
        <%= link_to root_path, class: 'logo' do %>
          <div class="circle">
            <br>
            The
            <br>
            Mind of
            <br>
            Red
          </div>
        <% end %>
      </div>
      <div class="col-4 slogan">
        Who is Red Forman, you ask? ...Dumbass
      </div>
      <div class="col-5 links">
        <%= link_to 'Contribute', new_quote_path %>
        <%= link_to 'About', '#' %>
      </div>
    </header>

    <hr class="clear">

    <br class="clear">

    <div class="container">
      <%= yield %>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <%= link_to "This isn't enough, I need more.", root_path, class: 'next-quote' %>
          </div>
          <div class="col-6 footer-blurb">
            Jubilantly created by 
              <%= link_to 'Ben Kautt', 'http://benkautt.getforge.io/' %>
            <br>
            Want to build your own Splurty Web App - 
              <%= link_to 'Learn how to code here',
                'http://thefirehoseproject.com' %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
